<h1>Награда</h1>
<div class="table">
  <table class="table">
  
  <tr>
    <th>Название награды</th>
    <th>Изображение</th>
    <th colspan="3">Действия</th>
  </tr>

<%= render @badge %> 
 </table>
 </div>


