 <footer>
 <p>
 Это приложение позволит вам создавать тесты и проходить их!<br>
 <%= github_url('MaxKoleshatov', 'test-guru') %><br>
 Автор: Maxim Koleshatov<br>
 Это приложение является учебным проектом онлайн школы <a target="_blank" href="https://thinknetica.com/">Thinknetica</a><br>
 <%= current_year %><br>
 </p>
</footer>