<tr>
  <td><%= question.body%></td>
  <td><%= link_to 'Просмотреть вопрос', admin_question_path(question) %></td>
  <td><%= link_to 'Отредактировать вопрос', edit_admin_question_path(question) %></td>
  <td><%= link_to 'Удалить вопрос', admin_question_path(question), method: :delete %></td>
</tr>