<div class="card">
<div class="card-header">
  <div class="card-body">
  <table class="table">
      <tr>
      <th>Изображение</th>
      <th>Название</th>
      <th>Параметр</th>
      </tr>

      <%= render @user_badges %>
    </table>
    </div>
  <%= link_to "На главную", root_path %>
  </div>
  </div>