<h1>Все тесты: </h1>
  <% if @tests.present? %>
    <table>
      <tr>
        <th>Название</th>
        <th>Уровень</th>
        <th>Количество вопросов</th>
        <th>Действия</th>
      </tr>

      <%= render @tests %>
    </table>
  <% else%>
    <p><%= render plain:"У вас нет тестов"%></p>
  <% end%>

  <%= link_to 'На главную', root_path %>
